<%-include('../../partials/header')%>;
    <!-- Navigation Menu -->
    <%-include('../../partials/sidebar')%>


    <!-- Right Side Section -->
    <div class="ml-auto w-full xl:w-5/6 px-0 xl:px-5 py-2 mt-16 xl:mt-0 h-screen">

        <section class="flex flex-col xl:flex-row xl:items-center justify-between px-5 py-2 xl:py-5 gap-4">
            <div class="flex items-center gap-10">
                <p class="text-tColor2 text-2xl font-bold">Alert Create</p>
            </div>
        </section>


        <section class="px-5 py-5 max-w-[500px]">
            <form action="/admin/alert_create_post" method="post" class="grid gap-5">
                <p class="font-bold text-xl text-tColor2 w-full xl:w-fit">Alert Information</p>
                <input class="border-[1px] rounded py-2 px-4 focus:outline-none" name="alert_title" type="text" placeholder="Alert Title">
                <textarea class="border-[1px] rounded py-2 px-4 focus:outline-none" name="alert_description" cols="100" rows="10" placeholder="Alert Description"></textarea>
                <!-- <input class="border-[1px] rounded py-2 px-4 focus:outline-none" name="alert_date" type="text" placeholder="Alert Date "> -->
                <button class="text-white font-semibold gradient-color border-[1px] rounded px-3 py-2 order-4 xl:order-5 w-full">Submit</button>
            </form>
        </section>

    </div>
</section>





<!-- Header Section Script -->
<script> 
  // Menu toggle button 
    const toggleButton = document.getElementById("toggle-button");
    const toggleMenu = document.getElementById("toggle-menu");
    var toggleCounter = 1;
    toggleButton.onclick = function () {
      toggleCounter++;
      if(toggleCounter%2 == 0){
        toggleMenu.classList.remove("hidden");
        toggleMenu.classList.add("grid");
      }
      else{
        toggleMenu.classList.remove("grid");
        toggleMenu.classList.add("hidden");
      }
    }


  </script>


<!-- Accordion Script -->
<script>
  const accordionButtons = document.querySelectorAll('.accordion-button');
  const accordionMenu = document.querySelectorAll('.menu-collapse');

  accordionButtons.forEach(button => {
    button.addEventListener('click', () => {
      const accordionCollapse = button.nextElementSibling;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      accordionCollapse.classList.toggle('hidden');
    });
  });

  // Set all accordion items to collapsed state by default
  document.querySelectorAll('.menu-collapse').forEach(collapse => {
    collapse.classList.add('hidden');
  });


</script>


<!-- Table Script -->
<script>
  const tableButtons = document.querySelectorAll('.table-button');
  const tableMenu = document.querySelectorAll('.table-collapse');
  const tableClose = document.querySelectorAll('.table-close');

  tableButtons.forEach(button => {
    button.addEventListener('click', () => {
      const tableCollapse = button.nextElementSibling;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      tableCollapse.classList.toggle('hidden');
    });
  });

  tableClose.forEach(button => {
    button.addEventListener('click', () => {
      const tableCollapse = button.parentElement.parentElement.parentElement;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      tableCollapse.classList.toggle('hidden');
    });
  });

</script>

<script>
  const tables = document.querySelectorAll('.table-collapse');
  window.onclick = function (event) {
  for (let table of tables){
  if (event.target == table) {
    table.classList.toggle('hidden');
  }
}
};
</script>



</body>
</html>