<%-include('../../partials/header')%>;
    <!-- Navigation Menu -->
    <%-include('../../partials/sidebar')%>



    <!-- Right Side Section -->
    <div class="ml-auto w-full xl:w-5/6 px-0 xl:px-5 py-2 mt-16 xl:mt-0 h-screen">


       <!-- Project Overview Header -->

        <section class="flex flex-col xl:flex-row xl:items-center justify-between px-5 py-2 xl:py-5 gap-4">

            <div class="flex items-center gap-10">
              <p class="text-tColor2 text-2xl font-bold">Membership Package</p>
            </div>
            
        </section>


        <section class="px-5 py-5 flex justify-between items-center flex-wrap xl:flex-nowrap gap-5">
          <p class="font-bold text-xl text-tColor2 w-full xl:w-fit order-1">Membership Information</p>
          <div class="bg-white relative rounded-md w-full xl:w-fit shadow order-5 xl:order-4">
            <input class="py-2 pr-3 pl-10 focus:outline-none" type="text" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass absolute top-1/2 left-3 -translate-y-1/2 text-tColor"></i>
          </div> 
          <a href="/admin/create_membership" class="text-white gradient-color border-[1px] rounded px-3 py-2 order-4 xl:order-5">+ Create Membership</a>
        </section>


        <section class="mx-5">
          <div class="flex flex-col justify-around">
            <div class="bg-white overflow-x-scroll md:overflow-hidden">
              <table class="table-auto text-xs md:text-sm profile-table w-[200%] md:w-full shadow">
                <thead>
                  <tr>
                    <th>Membership Name</th>
                    <th>Description</th>
                    <th>Membership Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class="text-tColor2">Gold Member</td>
                    <td>
                        <ul>
                            <li type="circle">Kick Pack Purchase Access</li>
                            <li type="circle">Chatroom Photo Share Access</li>
                            <li type="circle">7 rooms entry</li>
                            <li type="circle">Special Budget</li>
                        </ul>
                    </td>
                      <td class="text-tColor2">100k FC</td>
                      <td>
                        <a href="/admin/update_announcement?announcement_id=" class="bg-green-50 font-semibold text-green-500 px-3 py-2 rounded">Update</a>
                        <a href="/admin/delete_announcement?announcement_id=" class="gradient-color font-semibold text-white px-3 py-2 rounded">Delete</a>
                      </td>
                    </tr>
                    <tr>
                        <td class="text-tColor2">Diamon Member</td>
                        <td><ul>
                            <li type="circle">Kick Pack Purchase Access</li>
                            <li type="circle">Chatroom Photo Share Access</li>
                            <li type="circle">7 rooms entry</li>
                            <li type="circle">Special Budget</li>
                        </ul>
                    </td>
                          <td class="text-tColor2">100k FC</td>
                          <td>
                            <a href="/admin/update_announcement?announcement_id=" class="bg-green-50 font-semibold text-green-500 px-3 py-2 rounded">Update</a>
                            <a href="/admin/delete_announcement?announcement_id=" class="gradient-color font-semibold text-white px-3 py-2 rounded">Delete</a>
                          </td>
                    </tr>
                    <tr>
                        <td class="text-tColor2">Silver Member</td>
                        <td><ul>
                            <li type="circle">Kick Pack Purchase Access</li>
                            <li type="circle">Chatroom Photo Share Access</li>
                            <li type="circle">7 rooms entry</li>
                            <li type="circle">Special Budget</li>
                        </ul>
                    </td>
                            <td class="text-tColor2">100k FC</td>
                            <td>
                            <a href="/admin/update_announcement?announcement_id=" class="bg-green-50 font-semibold text-green-500 px-3 py-2 rounded">Update</a>
                            <a href="/admin/delete_announcement?announcement_id=" class="gradient-color font-semibold text-white px-3 py-2 rounded">Delete</a>
                            </td>
                    </tr>
                </tbody>
              </table>
            </div>

              <!-- Page Select -->
              <div class="flex flex-col xl:flex-row justify-between xl:items-center py-5 gap-2">
                <div class="flex items-center justify-center gap-2">
                <p class="text-center text-xs xl:text-sm text-tColor2">Showing 1 to 10 of 30 entries</p>
                </div>

                <div class="scale-75 xl:scale-100 grid grid-flow-col content-center ml-auto mr-auto xl:mr-0 font-semibold xl:text-sm text-tColor gap-2">
                    <a class="bg-gray-200 h-8 w-8 rounded flex items-center justify-center shadow"  href="#"><svg width="6" height="10" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.125 0.75L0.875 7L7.125 13.25" stroke="#84818A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </a>
                    <a class="bg-tertiaryColor text-primaryColor h-8 w-8 rounded flex items-center justify-center shadow"  href="#">1</a>
                    <a class="bg-gray-200 h-8 w-8 rounded flex items-center justify-center shadow"  href="#">2</a>
                    <a class="bg-gray-200 h-8 w-8 rounded flex items-center justify-center shadow" href="#">3</a>
                    <a class="bg-gray-200 h-8 w-8 rounded flex items-center justify-center shadow"  href="#">4</a>
                    <a class="bg-gray-200 h-8 w-8 rounded flex items-center justify-center shadow"  href="#">5</a>
                    <a class="bg-gray-200 h-8 w-8 rounded flex items-center justify-center shadow"  href="#">...</a>
                    <a class="bg-gray-200 h-8 w-8 rounded flex items-center justify-center shadow"  href="#">12</a>
                    <a class="bg-gray-200 h-8 w-8 rounded flex items-center justify-center shadow"  href="#"><svg width="6" height="10" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.875 0.75L7.125 7L0.875 13.25" stroke="#84818A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </a>
                </div>
              </div>
          </div>
        </section>
    </div>

</section>





<!-- Header Section Script -->
<script> 
  // Menu toggle button 
    const toggleButton = document.getElementById("toggle-button");
    const toggleMenu = document.getElementById("toggle-menu");
    var toggleCounter = 1;
    toggleButton.onclick = function () {
      toggleCounter++;
      if(toggleCounter%2 == 0){
        toggleMenu.classList.remove("hidden");
        toggleMenu.classList.add("grid");
      }
      else{
        toggleMenu.classList.remove("grid");
        toggleMenu.classList.add("hidden");
      }
    }


  </script>


<!-- Accordion Script -->
<script>
  const accordionButtons = document.querySelectorAll('.accordion-button');
  const accordionMenu = document.querySelectorAll('.menu-collapse');

  accordionButtons.forEach(button => {
    button.addEventListener('click', () => {
      const accordionCollapse = button.nextElementSibling;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      accordionCollapse.classList.toggle('hidden');
    });
  });

  // Set all accordion items to collapsed state by default
  document.querySelectorAll('.menu-collapse').forEach(collapse => {
    collapse.classList.add('hidden');
  });


</script>


<!-- Table Script -->
<script>
  const tableButtons = document.querySelectorAll('.table-button');
  const tableMenu = document.querySelectorAll('.table-collapse');
  const tableClose = document.querySelectorAll('.table-close');

  tableButtons.forEach(button => {
    button.addEventListener('click', () => {
      const tableCollapse = button.nextElementSibling;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      tableCollapse.classList.toggle('hidden');
    });
  });

  tableClose.forEach(button => {
    button.addEventListener('click', () => {
      const tableCollapse = button.parentElement.parentElement.parentElement;
      button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
      tableCollapse.classList.toggle('hidden');
    });
  });

</script>

<script>
  const tables = document.querySelectorAll('.table-collapse');
  window.onclick = function (event) {
  for (let table of tables){
  if (event.target == table) {
    table.classList.toggle('hidden');
  }
}
};
</script>

</body>
</html>